<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Chat #<%= @chat.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/chats" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_chat/<%= @chat.id %>" class="btn btn-block btn-outline-secondary">
          Delete chat
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Default guest language
      </dt>
      <dd>
        <%= @chat.default_guest_language_id %>
      </dd>

      <dt>
        Random
      </dt>
      <dd>
        <%= @chat.random_id %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @chat.title %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @chat.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@chat.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@chat.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit chat
    </h2>

    <form action="/modify_chat/<%= @chat.id %>"  method="post" >
      <div class="form-group">
        <label for="default_guest_language_id_box">
          Default guest language
        </label>

        <input type="text" id="default_guest_language_id_box" name="query_default_guest_language_id" class="form-control" value="<%= @chat.default_guest_language_id %>">
      </div>

      <div class="form-group">
        <label for="random_id_box">
          Random
        </label>

        <input type="text" id="random_id_box" name="query_random_id" class="form-control" value="<%= @chat.random_id %>">
      </div>

      <div class="form-group">
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" class="form-control" value="<%= @chat.title %>">
      </div>

      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" class="form-control" value="<%= @chat.user_id %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update chat
      </button>
    </form>
  </div>
</div>

<hr>
